@page "/finance/accounts"
@using Microsoft.AspNetCore.Authorization
@using CentuitionApp.Data
@using CentuitionApp.Components.Pages.Finance.AccountsComponents
@using CentuitionApp.Components.Pages.Finance.Shared
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Accounts - Centuition</PageTitle>

<div class="container-fluid py-4">
    <!-- Header -->
    <PageHeaderWithAction Title="Accounts"
                          Subtitle="Manage your financial accounts"
                          ActionButtonText="Add Account"
                          OnActionClick="@OpenCreateDialog" />

    <!-- Summary Cards -->
    <AccountsSummaryCards AccountsByType="@accountsByType"
                          Accounts="@accounts" />

    <!-- Accounts Grid -->
    <AccountsGrid Accounts="@accounts"
                  OnEdit="@EditAccountHandler"
                  OnDelete="@DeleteAccount" />
</div>

<!-- Create/Edit Account Dialog -->
<AccountFormDialog @bind-IsVisible="@showDialog"
                   IsEditing="@isEditing"
                   Account="@editAccount"
                   @bind-AccountColor="@accountColor"
                   AccountTypes="@accountTypes"
                   Currencies="@currencies"
                   OnSave="@SaveAccount"
                   OnCancel="@CloseDialog" />

<TelerikNotification @ref="@notificationRef" Class="notification-container" />
