@page "/finance/budget"
@using Microsoft.AspNetCore.Authorization
@using CentuitionApp.Data
@using CentuitionApp.Components.Pages.Finance.BudgetPageComponents
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Budget - Centuition</PageTitle>

<div class="container-fluid py-4">
    <!-- Header -->
    <BudgetPageHeader Months="@months"
                      SelectedMonth="@selectedMonth"
                      OnMonthChanged="@OnMonthChanged"
                      SelectedYear="@selectedYear"
                      OnYearChanged="@OnYearChanged"
                      OnRefresh="@LoadBudgetData"
                      OnAddBudget="@OpenCreateDialog" />

    <!-- Budget Summary -->
    <BudgetSummaryCards TotalBudget="@totalBudget"
                        TotalSpent="@totalSpent"
                        TotalRemaining="@totalRemaining"
                        OverallPercentage="@overallPercentage"
                        BudgetCount="@budgets.Count" />

    <!-- Budget Progress Chart -->
    <div class="row mb-4">
        <div class="col-12">
            <BudgetVsActualChart BudgetProgress="@budgetProgress"
                                 OnCreateFirstBudget="@OpenCreateDialog" />
        </div>
    </div>

    <!-- Budget Progress Cards -->
    <div class="row mb-4">
        <div class="col-12">
            <BudgetProgressList BudgetProgress="@budgetProgress"
                                OnCopyToNextMonth="@CopyToNextMonth" />
        </div>
    </div>

    <!-- Budget Grid -->
    <BudgetDetailsGrid Budgets="@budgets"
                       OnEdit="@EditBudgetHandler"
                       OnDelete="@DeleteBudget" />
</div>

<!-- Create/Edit Budget Dialog -->
<BudgetFormDialog @bind-IsVisible="@showDialog"
                  IsEditing="@isEditing"
                  Budget="@editBudget"
                  AvailableCategories="@availableCategories"
                  Months="@months"
                  OnCategoryChanged="@OnCategoryChanged"
                  OnSave="@SaveBudget"
                  OnCancel="@CloseDialog" />

<TelerikNotification @ref="@notificationRef" Class="notification-container" />
