@page "/finance/categories"
@using Microsoft.AspNetCore.Authorization
@using CentuitionApp.Data
@using CentuitionApp.Components.Pages.Finance.CategoriesComponents
@using CentuitionApp.Components.Pages.Finance.Shared
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Categories - Finance Tracker</PageTitle>

<div class="container-fluid py-4">
    <!-- Header -->
    <PageHeaderWithAction Title="Categories"
                          Subtitle="Organize your transactions with categories"
                          ActionButtonText="Add Category"
                          OnActionClick="@OpenCreateDialog" />

    <!-- Category Type Tabs -->
    <CategoriesTabsGrid @bind-ActiveTabIndex="@activeTabIndex"
                        ExpenseCategories="@expenseCategories"
                        IncomeCategories="@incomeCategories"
                        OnEdit="@EditCategoryHandler"
                        OnDelete="@DeleteCategory" />

    <!-- Category Summary Cards -->
    <TopCategoriesCharts ExpenseCategorySpending="@expenseCategorySpending"
                         IncomeCategorySpending="@incomeCategorySpending" />
</div>

<!-- Create/Edit Category Dialog -->
<CategoryFormDialog @bind-IsVisible="@showDialog"
                    IsEditing="@isEditing"
                    Category="@editCategory"
                    @bind-CategoryColor="@categoryColor"
                    CategoryTypes="@categoryTypes"
                    OnSave="@SaveCategory"
                    OnCancel="@CloseDialog" />

<TelerikNotification @ref="@notificationRef" Class="notification-container" />
