@page "/finance/transactions"
@using Microsoft.AspNetCore.Authorization
@using CentuitionApp.Data
@using CentuitionApp.Components.Pages.Finance.TransactionsComponents
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Transactions - Centuition</PageTitle>

<div class="container-fluid py-4">
    <!-- Header -->
    <TransactionsHeader OnExportClick="@ExportToExcel"
                        OnAddClick="@OpenCreateDialog" />

    <!-- Filter Section -->
    <TransactionsFilterPanel FilterStartDate="@filterStartDate"
                             OnFilterStartDateChanged="@((DateTime? value) => filterStartDate = value)"
                             FilterEndDate="@filterEndDate"
                             OnFilterEndDateChanged="@((DateTime? value) => filterEndDate = value)"
                             FilterType="@filterType"
                             OnFilterTypeChanged="@((TransactionType? value) => filterType = value)"
                             FilterAccountId="@filterAccountId"
                             OnFilterAccountIdChanged="@((int? value) => filterAccountId = value)"
                             FilterCategoryId="@filterCategoryId"
                             OnFilterCategoryIdChanged="@((int? value) => filterCategoryId = value)"
                             TransactionTypeOptions="@transactionTypeOptions"
                             AccountOptions="@accountOptions"
                             CategoryOptions="@categoryOptions"
                             OnApplyFilters="@ApplyFilters"
                             OnClearFilters="@ClearFilters" />

    <!-- Summary Cards -->
    <div class="row mb-4 g-3">
        <div class="col-md-4">
            <SummaryCard Title="Total Income"
                         Value="@filteredIncome"
                         BorderColor="success" />
        </div>
        <div class="col-md-4">
            <SummaryCard Title="Total Expenses"
                         Value="@filteredExpenses"
                         BorderColor="danger" />
        </div>
        <div class="col-md-4">
            <SummaryCard Title="Net"
                         Value="@filteredNet"
                         BorderColor="info"
                         DynamicValueColor="true" />
        </div>
    </div>

    <!-- Transactions Grid -->
    <TransactionsGrid @ref="@gridRef"
                      Transactions="@transactions"
                      SelectedTransactions="@selectedTransactions"
                      OnSelectedItemsChanged="@((IEnumerable<Transaction> items) => selectedTransactions = items)"
                      OnEdit="@EditTransactionHandler"
                      OnDelete="@DeleteTransaction"
                      OnDeleteSelected="@DeleteSelectedTransactions" />
</div>

<!-- Create/Edit Transaction Dialog -->
<TransactionFormDialog IsVisible="@showDialog"
                       IsVisibleChanged="@((bool value) => showDialog = value)"
                       IsEditing="@isEditing"
                       Transaction="@editTransaction"
                       DestinationAccountId="@destinationAccountId"
                       OnDestinationAccountIdChanged="@((int? value) => destinationAccountId = value)"
                       Accounts="@accounts"
                       Categories="@categories"
                       OnTypeChange="@OnTypeChanged"
                       OnSubmit="@SaveTransaction" />

<TelerikNotification @ref="@notificationRef" Class="notification-container" />
