<div class="row mb-4">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
            <div>
                <h1 class="h2 mb-1">Budget</h1>
                <p class="text-muted mb-0">Set and track your monthly spending limits</p>
            </div>
            <div class="d-flex gap-2 align-items-center">
                <TelerikDropDownList Data="@Months"
                                     Value="@SelectedMonth"
                                     ValueChanged="@OnMonthChanged"
                                     TextField="Name"
                                     ValueField="Value"
                                     Width="150px" />
                <TelerikNumericTextBox Value="@SelectedYear"
                                       ValueChanged="@OnYearChanged"
                                       Format="0"
                                       Min="2020"
                                       Max="2100"
                                       Width="130px" />
                <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Light"
                               OnClick="@OnRefresh"
                               Icon="@SvgIcon.ArrowRotateCw">
                    Refresh
                </TelerikButton>
                <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary"
                               OnClick="@OnAddBudget"
                               Icon="@SvgIcon.Plus">
                    Add Budget
                </TelerikButton>
            </div>
        </div>
    </div>
</div>
